{% load i18n %}
<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}  {% endblock title %} MED APP </title>
        <meta name="description" content="An online Medical store wesite in kerala">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar  navbar-dark navbar-expand-lg p-2  bg-success">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">MED APP</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Products
                    </a>
                    <ul class="dropdown-menu">
                      {% comment %} <li><a class="dropdown-item" href="{% url 'ProductCategory' %}/Tablet">Tablet</a></li> {% endcomment %}
                      <li><a class="dropdown-item" href="#">Syrups</a></li>
                      <li><a class="dropdown-item" href="#">Electronics</a></li>
                      <li><a class="dropdown-item" href="#">Sanitory</a></li>

                    </ul>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Administrator login</a>
                  </li>
                  
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-1" type="search" placeholder="Search" >
                </form>

                {% if user.is_authenticated %}
                    <div class="nav-item dropdown mr-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                        {{user}}
                        </a>
                        <ul class="dropdown-menu mr-5">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>

                        </ul>
                      </div>

                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-primary m-2">Login</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>

                {% endif %}
              </div>
            </div>
          </nav>


        {% block content %}
            {% comment %} {% if messages %}
                <div>
                    <strong>{% trans "Messages:" %}</strong>
                    <ul>
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %} {% endcomment %}
        
        {% endblock content %}

        <footer class="container-fluid bg-success text-white text-center fixed-bottom">
            MED APP 2023
        </footer>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>