{% extends 'adminapp/base.html' %}
{% load static %}
{% block title %}Manage Category{% endblock title %}
{% block style %}
{% endblock style %}

{% block content %}
<div class="container mt-4">
    <div class="alert alert-dismissible alert-success d-flex align-items-center" role="alert">
        <div>
          Here {{user}} can view,add new category details
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
    <H2> Category List </H2>
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">SI.NO</th>
              <th scope="col">Category Name</th>
              <th scope="col">No of products</th>
              <th scope="col">Manage</th>

            </tr>
          </thead>
          <tbody>
            {% if category_list %}
            {% for category in category_list  %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{category.categories}}</td>
              <td>N/A</td>
              <td> <a name="edit" id="edit" class="btn btn-danger" href="editcategory/{{category.id}}" role="button">edit</a></td>

            </tr>
            {% endfor %}
            {% endif %}  
          </tbody>
        
    </table>
    {% lorem 4 p random %}
</div>
{% endblock content %}
